@media (max-width: 750px) {
    * {
        padding: 0;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
        border-radius: 10px;
        width: 400px;
        height: 600px;
        position: relative;
        overflow: hidden;
    }

    .area-cover {
        width: 100%;
        overflow: hidden;
    }

    .area-play {
        width: 100%;
        height: 50%;
        display: flex;
    }

    .play-top {
        display: none;
    }

    .area-play-list {
        width: 100%;
        display: flex;
        bottom: 0;
        height: 100%;
        position: absolute;
        bottom: 0;
        z-index: 100;
        display: none;
        background-color: #0000008b;
        transition: all .4s;
    }

    .play-list {
        display: flex;
        position: absolute;
        bottom: 0;
        padding: 10px 0px;
        border-radius: 15px;
        background-color: #12124d;
        z-index: 150;
        width: 100%;
        height: 50%;
        font-size: 10px;
        animation: openlist .4s linear;
    }

    .play-function {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        padding: 0;
        position: relative;
    }

    .playing {
        width: 100%;
        height: 40%;
        padding: 0 5%;
        display: flex;
        position: relative;
    }

    .playing-p {
        display: flex;
        width: 250px;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        z-index: 50;
        position: absolute;
        flex-direction: column;
        justify-content: end;
        background-color: #131a35;
    }

    .play-function-bnt {
        width: 100%;
        height: 40%;
    }

    .play-function-duraction {
        display: flex;
        justify-content: space-between;
        height: 20px;
        width: 100%;
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 10px;
        padding: 0 5%;
    }
}

.openlist {
    display: flex;
    transition: all .4s;
}

@keyframes openlist {
    from {height: 0;}
    to{height: 300px;}
}