@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a304e;
}

.container {
    width: 900px;
    height: 500px;
    box-shadow: 2px 5px 10px #0606065f;
    margin: 0 auto;
    display: flex;
}


/* ============       EDIT AREA COVER         ========== */
.area-cover {
    width: 350px;
    height: 100%;
    background-color: #d1d1d1;
    background-size: cover;
    background-position: center;
    border-right: 3px solid #140d23;
    position: relative;
}

#cover-volume {
    top: 10px;
    right: 10px;
    color: #fff;
    position: absolute;
}

.cover-info {
    width: 100%;
    height: 100%;
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #230d0d81;
}

#cover-title {
    text-transform: uppercase;
}

.cover-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    text-transform: uppercase;
}
.cover-text span {
    color: #dcdcdc;
    font-weight: bold;
}
.cover-text h1 {
    letter-spacing: 2px;
    font-family: "Odibee Sans", sans-serif;
}
#cover-text-album {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

#cover-data {
    font-family: "Odibee Sans", sans-serif;
    text-transform: uppercase;
}


/* =========            EDIT AREA PLAY          ============ */
.area-play {
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    color: #131a35;
    overflow: hidden;
}


/* ------       EDIT HEADER TEXT        ----- */
.play-top {
    width: 100%;
    height: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-bottom: 1px solid #ffffff17;
}

.play-top-text {
    color: #fdfd;
    width: 70%;
    overflow-y: hidden;
}

.play-top-text #play-top-album {
    color: #e2015f;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#play-top-bnt {
    height: 60px;
    border-radius: 5px;
    border: 1px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #55007d;
    color: #ddd;
    cursor: pointer;
    transition: all.4s;
}

#play-top-bnt:hover {
    background-color: #2a1852;
    color: #fff;
}


/* -------          EDIT LIST AREA      ------- */
.area-play-list{
    width: 100%;
    height: 300px;
    display: flex;
}

#lyric {
    line-height: 2;
}

.play-list {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.play-list-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    color: #b9b9b9;
    cursor: pointer;
    transition: all .4s;
}

.play-list-item:hover {
    background-color: #140d23;
    animation: back 5s linear infinite;
}

@keyframes back {
    from{
        background: linear-gradient(to left, #800080, #0363c3, purple, #0363c3);
        background-size: 300% 300%;
        background-position: 0;
    }
    to {
        background: linear-gradient(to left, purple, #0363c3, purple, #0363c3);
        background-size: 300% 300%;
        background-position: 100%;
    }
}

.list-item-nameicon {
    display: flex;
    align-items: center;
}
.list-item-nameicon i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.list-item-nameicon p {
   font-weight: 500;
   padding: 10px;
}

.current-item {
    background-color: #140d23;
    color: #fff;
}


/* -------      EDIT AREA PLAY FUNCTIONS        ------- */
.area-play-function {
    width: 100%;
    height: 100px;
}

#play-function-progress {
    width: 100%;
    height: 5px;
    display: flex;
    align-items: center;
    align-items: end;
    position: relative;
    background-color: #d0c5edb6;
    cursor: pointer;
    transition: all.4s;
}

#play-function-progress:hover .ponto {
    opacity: 1;
}

#play-function-bar {
    width: 0%;
    height: 100%;
    background-color: #9500ff;
    animation: back 4s infinite;
    border-radius: 0 5px 5px 0;
    position: relative;
}
.ponto {
    position: absolute;
    opacity: 0;
    right: 0;
    top: -2px;
    cursor: pointer;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ca57ff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.play-function {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 90px;
}

.playing {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    overflow-x: hidden;
    border-right: 1px solid #ffffff08;
}

.playing-duraction {
    display: none;
}

.playing-function-title {
    color: #f2f2f2;
    font-size: 15px;
}

.playing-function-text {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #aeacac;
}

.play-function-bnt {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.play-function-bnt i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dedede;
}
/*
#bntPrev, #bntNext {
    background-color: #59177742;
}
#bntShuffle, #bntRepeat {
    background-color: #6b208e21;
} */

#bntPlay,
#bntPrev,
#bntNext,
#bntShuffle,
#bntRepeat {
    border: 1px;
    background-color: transparent;
    transition: .4s;
    border-radius: 20%;
}

#bntPlay{
    border-radius: 50%;
    background-color: #581777;
    transition: .4s;
}

#bntPlay:hover,
#bntPrev:hover,
#bntNext:hover,
#bntShuffle:hover,
#bntRepeat:hover {
    cursor: pointer;
    background-color: #871fb7;
    border-radius: 50%;
    animation: back 4s infinite;
}

.play-function-duraction {
    width: 30%;
    height: 100%;
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: center;
    border-left: 1px solid #ffffff08;
    color: #aeacac;
    font-size: 12px;
    position: relative;
}
#duraction-current,
#duraction-total {
    color: #aeacac;
}

#bnt-volume {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px;
    color: #fff;
    border-radius: 20%;
    cursor: pointer;
    transition: .4s;
}
#bnt-volume:hover {
    background-color: #871fb7;
    border-radius: 50%;
    animation: back 4s infinite;
}

.area-volume {
    width: 35px;
    height: 100px;
    background-color: #232c4f;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -85px;
    right: 7px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 5px 10px #17171778;
}

.area-volume .volume-bar {
    width: 5px;
    height: 100%;
    background-color: #0363c3;
    position: relative;
}
.ponto-volume {
    position: absolute;
    left: -2.5px;
    top: -1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #024e99;
}